Uploads3.py

In [124]:
import pandas as pd, numpy as np, pickle

In [125]:
dataset = pd.read_csv("heart.csv")

In [126]:
dataset.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [127]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(dataset.drop(columns=['target']), dataset['target'], test_size=0.3)

In [128]:
from sklearn.preprocessing import StandardScaler 
sc = StandardScaler()
x_train_s = sc.fit_transform(x_train)
x_test_s = sc.fit_transform(x_test)

In [129]:
import pickle
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(max_iter=100)
model.fit(x_train, y_train)
pickle.dump(model, open('hmodel.pkl', 'wb'))

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [130]:
with open('hmodel.pkl','rb') as f:
  model = pickle.load(f)

In [131]:
t = np.array([29,1,1,140,270,0,1,160,1,0,2,0,2])
input_data=pd.DataFrame([t],columns=['age', 'sex', 'cp', 'trestbps','chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal'], dtype = float)

In [132]:
from sklearn.preprocessing import StandardScaler
input_data = np.array(StandardScaler().fit_transform(input_data))

In [133]:
y=model.predict(input_data)
y

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"

array([1])